:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --color-main: #7f53ac;
    --color-main-dark: #572b82;
    --color-dark: #1c1c1e;
    --color-light: #f3f3f3;
    --color-light-op-80: #f3f3f3cc;

    --color-accent: #c4cdf8;
    --color-accent-dark: #657ced;

    --color-linear-main: var(--color-main);
    --color-linear-accent: var(--color-accent-dark);
}
  
html {
    font-size: 62.5%;
}
  
body {
    color: var(--color-light);
    background: linear-gradient(to bottom right, var(--color-linear-main), var(--color-linear-accent));
    background-repeat: no-repeat;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-size: 2rem;
    text-align: center;
}
  
#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}
  
a {
    font-weight: 500;
    color: var(--color-dark);
    text-decoration: inherit;

    &:hover {
        color: #3c3c3f;
    }
}
  
header {
    padding: 2rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
    color: var(--color-light);
}
  
.game {
    flex: 1;
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
  
button {
    box-sizing: border-box;
    border-radius: .5em;
    border: .05em solid var(--color-main-dark);
    padding: 0;
    font-size: 2rem;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-light);
    color: var(--color-main-dark);
    cursor: pointer;
    transition: border-color 0.25s;
    width: 3rem;
    height: 4.8rem;

    &:hover {
        opacity: .8;
    }
}

.status{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lives {
    display: flex;
    justify-content: center;

    & svg {
        width: 2rem;
        height: 2rem;
    }
}

.wrongLetters {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    &__tittle {
        font-size: 1.5rem;
    }

    &__section {
        font-size: 3rem;
        margin: 0;
        line-height: 3rem;
    }
}

.word {
    display: flex;
    gap: .5rem;
    padding: 1rem 2rem;
    background-color: var(--color-light);
    border: .05em solid var(--color-main);
    border-radius: .3em;
    font-size: 3rem;
    color: var(--color-main);

    &__letter {
        margin: 0;
    }
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    &__row {
        display: flex;
        gap: .2rem;
        justify-content: center;
    }
}
  
@media all and (min-width: 600px) {
    h1 {
        font-size: 4rem;
    }

    .word {
        font-size: 4rem;
    }

    .status {
        flex-direction: row;
        width: 100%;
        text-align: start;
        justify-content: space-around;
    }

    .lives {
        & svg {
            width: 4rem;
            height: 4rem;
        }
    }
}

.popup {
    background-color: var(--color-light);
    border: 0.1em solid var(--color-main-light);
    color: var(--color-main);
    border-radius: 0.5em;
    position: absolute;
    width: calc(100% - 6rem - 4rem);
    height: 50vh;
    margin: 2rem;
    padding: 5rem 3rem;
    max-width: 50rem;
    max-height: 60rem;
    inset: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 1;

    &__tittle {
        font-size: 3rem;
        font-weight: bold;
    }
}

.restart {
    width: auto;
    border-color: var(--color-main-dark);
    background-color: var(--color-main);
    color: var(--color-light);
    padding: 1rem 2rem;
}
  
  
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
    background: #9a9aa3;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #3c3c3f;
}